<h1>Album Info</h1>



<div class="album-info">
  <div class="info">


  <div class="thumb">
    <img class="thumbnail" src="<%= @album.images[1]["url"] %>" alt="">
  </div>


  <div class="details">
    <div class="title">
      <h3><%= @album.name %></h3>

    </div>
    <div class="sub-title">
      <% @album.artists.each do |artist| %>
      <h3>
        <%= artist.name %>
      </h3>
      <% end %>

      <dl class="list">
										<dt>Release Date</dt>
										<dd><%= @album.release_date %></dd>
										<dt>Genres</dt>
										  <%= @album.genres.each do |genre| %>
                        <dd>genre</dd>
                      <% end %>
										<dt>Label</dt>
                    <% @album.copyrights.each do |copy| %>
										  <dd><%= copy["text"] %></dd>
                    <% end %>
										<dt>기획사</dt>
										<dd>VMC</dd>
									</dl>

    </div>

  </div>
  </div>

</div>
